* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  background:linear-gradient(
    135deg,
    #3b82f6 0%,
    #8b5cf6 50%,
    #ec4899 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 380px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.logo {
  color: #4f46e5;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
  font-size: 14px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #4f46e5;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #0f172a;
  color: rgb(224, 215, 231);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.primary-btn:hover {
  background: #1e293b;
}

.switch-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.switch-text span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: 600;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  background: linear-gradient(135deg, #4f46e5, #9333ea, #ec4899);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.right-content {
  max-width: 450px;
}

.right-content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.right-content p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.feature-box div {
  background: rgba(255, 255, 255, 0.15);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}