/* PAGE BACKGROUND */
.forgot-page {
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WRAPPER */
.forgot-wrapper {
  width: 85%;
  height: 85%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
}

/* LEFT SIDE */
.forgot-left {
  flex: 1;
  padding: 50px;
  color: white;
}

.brand-badge {
  background: rgba(255,255,255,0.2);
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.forgot-left h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.forgot-left p {
  margin-bottom: 30px;
}

.feature-card {
  display: flex;
  gap: 10px;
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* RIGHT SIDE */
.forgot-right {
  flex: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.forgot-card {
  width: 70%;
}

.forgot-card h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.forgot-card p {
  margin-bottom: 20px;
  color: gray;
}

/* INPUT */
.forgot-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTON */
.forgot-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* MESSAGES */
.error-box {
  background: #ffe0e0;
  color: red;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.success-box {
  background: #e0ffe5;
  color: green;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* BACK LINK */
.back-login {
  margin-top: 15px;
  cursor: pointer;
  color: #6a11cb;
}